.business-summary {
  background-color: rgb(254, 248, 248);
}
.summary-card > p {
  font-size: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.summary-card > span {
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
